@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@import "tailwindcss";
@import "./css/scroll.css";

@theme {
  --default-font-family: "Open Sans", sans-serif;
  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;
  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;
  --color-danger: #b12c4d;
  --text-xs: 10px;
  --text-xxs: 12px;
  --text-md: 14px;

  --background-gradient: linear-gradient(
    110deg,
    #1b1c5a 20%,
    #091f9e 40%,
    #bc62c3 50%,
    #b12c4d 60%,
    #0daacd 80%
  );
}
